@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skin-color: #ec1839;
  --second-font: "Your-Secondary-Font", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.containerSection.active {
  position: initial;
}

@media (max-width: 1200px) {
  .containerSection {
    /* seus estilos para telas menores */
  }
}
